{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>

<p>{{ user.username }} Comments:</p>
<table class="highlight">
    <thead>
      <tr>
        <th>Location:</th>
        <th>Rating:</th>
        <th>Content:</th>
      </tr>
    </thead>
    <tbody>
          {% for review in user.review_set.all %}
          <tr>
            <td>{{ review.location }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.content }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}

https://streamable.com/e/edaazw