{% extends 'base.html' %}
{% block content %}

<h1>All Locations</h1>
<table class="highlight">
  <thead>
    <tr>
      <th>Location Name</th>
      <th>Country</th>
      <th>Average Rating</th>
      <th>Reviews</th>
    </tr>
  </thead>
  <tbody>
        {% for location in locations %}
        <tr>
          <td> <a href="{% url 'detail' location.id %}">{{ location.name }}</a></td>
          <td>{{location.country}}</td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
        
         
          


{% endblock %}